/*
 * Styles for Nav bar & Scroll Up button
 */

 @import 'variables';

 nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: $nav_color;
  color: #fff;
  z-index: 5;
  padding: 1.5em;
  .logo {
    font-family: $nav_font;
  }
}

@mixin icons() {
  display: block;
  margin: auto;
  filter: invert(100%);
  transform: scale(1.5);
}

.compose {
  margin-left: auto;
  order: 2;
  font-family: $body_font;
  background-color: $nav_color;
  color: white;
  border: none;
  cursor: pointer;
  img { @include icons(); }
}

.slide_up {
  bottom: 3%;
  position: fixed;
  right: 3%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: none;
  background-color: #f13d1f;
  color: white;
  padding: 20px;
  border: none;
  cursor: pointer;
  img { @include icons(); }
}

@media (min-width: 600px) and (max-width: 1023px) {
  nav {
    background-color: transparent;
  }
  .compose {
    background-color: transparent;
  }
}

@media (min-width: 1024px) {
  nav {
    background-color: $nav_color;
  }
}


