article.single_tweet {
  border: 5px solid #545149;
  padding: 1em;
  margin-top:1em;
  opacity: 0.8;
}

article.single_tweet header {
  display: flex;
  align-items: center;
}

.username {
  display: none;
  font-size: larger;
  color:  #c5cbe3;
}

article.single_tweet:hover {
  box-shadow: 10px 10px #c5cbe3;
  opacity: 1;
}
article.single_tweet:hover .username {
  display: block;
}
.right {
  margin-left: auto;
}

article.single_tweet h2 {
  font-weight: 100;
  font-size: larger;
  display: flex;
  margin-left: 0.5em;
}

article.single_tweet hr {
  height: 4px;
  background-color: #545149;
}

article.single_tweet footer {
  display: flex;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  font-size: medium;
}

article.single_tweet footer img {
  margin-right: 10px;
}